.search-form-field {
    width: 90%;
    box-shadow: 3px 12px 20px 0 rgba(32, 33, 36, 0.28);
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 0 20px;
    text-align: center;
}

mat-card {
    text-align: center;
    box-shadow: 3px 12px 20px 0 rgba(32, 33, 36, 0.28) !important;
    border-radius: 20px;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}
.outerCard {
    border-radius: 20px;
}

.fivedays,
.sunrise-and-sunset,
.pressure-and-humidity {
    display: flex;
    width: 100%;
}
.fivedays {
    overflow: scroll;
}
.fivedays::-webkit-scrollbar {
    display: none !important;
}

.fivedays div {
    width: 100%;
}

.pressure-and-humidity div {
    width: 100%;
    background: #a1f0f030;
    margin: 5px;
    padding: 10px;
}

.sunrise-and-sunset div {
    width: 100%;
}

.sunrise-and-sunset .sunset {
    text-align: right;
}

.sunrise {
    text-align: left;
}

p,
span {
    margin: 5px !important;
    font-size: 12px;
}
.loader {
    position: fixed;
    left: 0;
    display: block;
    top: 0;
    height: 100%;
    /* margin: auto; */
    width: 100%;
    background: #0000005e;
    text-align: center;
    color: #fff;
}
.loading {
    margin: auto;
    top: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    font-size: 36px;
    font-weight: bold;
}
